extends ../layout
block content
	.container
		.row
			.col-md-12
				if categories
					each cat in categories
						if cat.jobs && cat.jobs.length > 0
							.panel.panel-default
								.panel-heading.clearfix(style="position:relative")
									h3 #{cat.name}
									if cat.jobs && cat.jobs.length >= 4
										a(href="/weintern/job/category/result?cat=#{cat._id}&pageSize=1",style="position: absolute;right: 15px;top:35px;font-size:14px;") MORE >>
								.panel-body
									.row
										each item in cat.jobs
											.col-md-3
												.thumbnail
													a(href="/weintern/job/detail/" + item._id)
														img(src="/uploads/#{item.image}", alt="#{item.company}", style="height:350px;")
													.caption
														span.weintern-font-larger.weintern-black-deeper.text-over(style="display:inline-block;width:50%;") #{item.company}
														span.weintern-font-larger.weintern-black-deeper.text-over(style="display:inline-block;width:50%;") #{item.jobname}
														h5.weintern-gray-normal.text-over
															if item.salary != "不限"
																span ￥#{item.salary}元/天 |
															else
																span 薪资#{item.salary} |
															if item.internWeek != '0'
																span  #{item.internWeek}天/周 |
															else
																span  实习天数面议 |
															if item.interMonth != '0'
																span  #{item.interMonth}个月 |
															else
																span  实习月份面议
															if item.canBeRegular == "是"
																span  可转正
															else if item.canBeRegular == '否'
																span  不可转正
															else
																span  转正面议
														a.btn.btn-primary(href="/weintern/job/detail/#{item._id}",role="button") 查看岗位详情
				if worksites
					each worksite in worksites
						if worksite.jobs && worksite.jobs.length > 0
							.panel.panel-default
								.panel-heading.clearfix(style="position:relative")
									h3 #{worksite.addr}
									if worksite.jobs && worksite.jobs.length >= 4
										a(href="/weintern/job/worksite/result?site=#{worksite._id}&pageSize=1",style="position: absolute;right: 15px;top:35px;font-size:14px;") MORE >>
								.panel-body
									.row
										each item in worksite.jobs
											.col-md-3
												.thumbnail
													a(href="/weintern/job/detail/" + item._id)
														img(src="/uploads/#{item.image}", alt="#{item.company}", style="height:350px;")
													.caption
														span.weintern-font-larger.weintern-black-deeper.text-over(style="display:inline-block;width:50%;") #{item.company}
														span.weintern-font-larger.weintern-black-deeper.text-over(style="display:inline-block;width:50%;") #{item.jobname}
														h5.weintern-gray-normal.text-over
															if item.salary != "不限"
																span ￥#{item.salary}元/天 |
															else
																span 薪资#{item.salary} |
															if item.internWeek != '0'
																span  #{item.internWeek}天/周 |
															else
																span 实习天数面议 |
															if item.interMonth != '0'
																span  #{item.interMonth}个月 |
															else
																span  实习月份面议
															if item.canBeRegular == "是"
																span   可转正
															else if item.canBeRegular == '否'
																span  不可转正
															else
																span  转正机会面议
														a.btn.btn-primary(href="/weintern/job/detail/#{item._id}",role="button") 查看岗位详情