extends ../layout
block content
	.container
		.row
			.col-md-7
				h1 #{job.jobname}
				h2.weintern-black-normal.weintern-font-small #{moment(job.meta.updateAt).format("YYYY-MM-DD HH:mm:ss")} 刷新
				h4.weintern-font-large.weintern-gray-deep
					if job.salary == "不限"
						span 薪资#{job.salary} |
					else
						span ￥#{job.salary}/天 |
					span  #{worksite.addr} |
					if job.education == "不限"
						span  学历#{job.education} |
					else
						span  #{job.education} |
					if job.internWeek != '0'
						span  #{job.internWeek}天/周 |
					else
						span  实习天数面议 |
					if job.interMonth != '0'
						span  实习#{job.interMonth}个月 |
					else
						span  实习月份面议 |
					if job.canBeRegular == '是'
						span  可转正
					else if job.canBeRegular == '否'
						span  不可转正
					else
						span  转正面议
				if job.welfare
					h2.weintern-font-larger.weintern-gray-deeper 职位福利:  #{job.welfare}
			.col-md-5
				.media
					.media-left
						if job.companyUrl
							a(href='#{job.companyUrl}')
								img.media-object.img-rounded(src='/uploads/#{job.image}', alt='公司logo', style="width:150px;height:150px")
						else
							a(href='javascript:;')
								img.media-object.img-rounded(src='/uploads/#{job.image}', alt='公司logo', style="height:150px")
					.media-body
						h2.media-heading
							if job.companyUrl
								a(href="#{job.companyUrl}") #{job.company}
							else
								a(href="javascript:;") #{job.company}
						h2(style="margin-top: 85px") #{category.name}
		.row
			.col-md-7(style="margin-top:50px")
				h2 职位描述
				if job.jobcontent.length > 0
					h2.weintern-font-larger.weintern-black-normal 工作内容:
						.weintern-font-normal.weintern-gray-deep
							each item in job.jobcontent
								h6 #{item}
				if job.skill.length > 0
					.weintern-font-larger.weintern-black-normal(style="margin-top: 50px") 任职要求:
						.weintern-font-normal.weintern-gray-deep
							each item in job.skill
								h6 #{item}
			.col-md-5(style="margin-top:50px")
				h2 公司简介
					if job.desc
						h3.weintern-black-normal.weintern-font-larger 岗位描述:
							h4.weintern-gray-deep.weintern-font-large &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{job.desc}
					h3.weintern-black-normal.weintern-font-larger 公司地址(工作地址):
						h4.weintern-gray-deep.weintern-font-large &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{job.companyAddr}
					h3.weintern-black-normal.weintern-font-larger 投递邮箱地址:
						h4.weintern-gray-deep.weintern-font-large &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							span Email: &nbsp;&nbsp;&nbsp;
								a(href="javascript:;") #{job.email}
					h3.weintern-black-normal.weintern-font-larger 截止日期:
						h4.weintern-gray-deep.weintern-font-large &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{moment(job.deadline).format("YYYY-MM-DD")}
		.row
			.col-md-12
				if job.note
					h2(style="margin-top: 50px") 岗位其他信息
						h3.weintern-font-larger.weintern-gray-normal #{job.note}
					hr
		h2(style="padding-bottom:20px;border-bottom:1px solid #d9d9d9;") 评论
			hr
			.comment-list
				each item in comments
					.row
						.col-md-1
							img(src="/uploads/#{item.from.img}", style="width:64px;height:64px;border-radius:50%")
						.col-md-11
							h5(style="color:#337ab7") #{item.from.name}
								span.pull-right(style="color:#999") #{moment(item.meta.createAt, 'YYYYDDMM').fromNow()}
							h5(style="color:#999") #{item.content}
								a.comments(href="#comments", data-cid='#{item._id}', data-tid='#{item.from._id}')
									span.pull-right(style='color:#999') 回复
							.comment-reply
								if item.reply && item.reply.length > 0
									each reply in item.reply
										.row
											.col-md-1
												img(src="/uploads/#{reply.from.img}", style="width:64px;height:64px;border-radius:50%")
											.col-md-11
												h5(style="color:#337ab7")
													span #{reply.from.name}
													span(style="color:#666") &nbsp;回复&nbsp;
													span #{reply.to.name}
												h5(style="color:#999") #{reply.content}
													a.comments(href="#comments", data-cid='#{item._id}', data-tid='#{reply.from._id}')
														span.pull-right(style='color:#999') 回复
										hr
					hr
			#comments.row
				form#form-comment(method="POST",action="/weintern/job/comment")
					.col-md-1
						if user
							img(src="/uploads/#{user.img}", style="width:64px;height:64px;border-radius:50%")
						else
							img(src="/uploads/headpic.png", style="width:64px;height:64px;border-radius:50%")
					.col-md-11
						textarea.form-control(cols="3", name="comment[content]",style="height:70px;",placeholder="说点什么吧！")
					.form-group
						.col-sm-2.col-sm-offset-1(style="margin-top:15px")
							a(href="/")
								button.btn.btn-primary(type="button") 返回首页
					if user
						#comment-reply.form-group.pull-right(style="margin:15px;")
							input(type="hidden",name="comment[job]",value="#{job._id}")
							input(type="hidden",name="comment[from]",value="#{user._id}")
							button#comment-btn.btn.btn-success(type="submit") 发表评论
					else
						.form-group.pull-right(style="margin:15px;")
							a(href="/weintern/signIn")
								button.btn.btn-primary(type="button") 登录后评论
	script(src="/js/comment.js")