extends ../layout
block content
	.container
		.row
			.col-md-12
				.panel.panel-default
					.panel-heading
						h3
							span 搜索
							span(style="color:red;")=keywords
							span 的结果
							span 共#{number}条
					.panel-body
						if jobs
							.row
								each item,index in jobs
									.col-md-3
										.thumbnail
											a(href="/weintern/job/detail/" + item._id)
												img(src="/uploads/#{item.image}", alt="#{item.company}", style="height:350px;")
											.caption
												span.weintern-font-larger.weintern-black-deeper.text-over(style="width:50%") #{item.company}
												span.weintern-font-larger.weintern-black-deeper.pull-right.text-over(style="width:50%") #{item.jobname}
												h5.weintern-gray-normal.text-over
													if item.salary != "不限"
														span ￥#{item.salary}元/天 |
													else
														span 薪资#{item.salary} |
													if item.internWeek != '0'
														span  #{item.internWeek}天/周 |
													else
														span 实习天数面议 |
													if item.interMonth != '0'
														span  #{item.interMonth}个月 |
													else
														span  实习月份面议
													if item.canBeRegular == "是"
														span   可转正
													else if item.canBeRegular == '否'
														span  不可转正
													else
														span  转正面议
												a.btn.btn-primary(href="/weintern/job/detail/#{item._id}", role="button") 查看岗位详情
						if categories
							.row
								each cat in categories
									each item in cat.jobs
										.col-md-3
											.thumbnail
												a(href="/weintern/job/detail/#{item._id}")
													img(src="/uploads/#{item.image}", alt="#{item.company}", style="height:350px;")
												.caption
													span.weintern-font-larger.weintern-black-deeper.text-over(style="width:50%") #{item.company}
													span.weintern-font-larger.weintern-black-deeper.pull-right.text-over(style="width:50%") #{item.jobname}
													h5.weintern-gray-normal.text-over
														if item.salary != "不限"
															span ￥#{item.salary}元/天 |
														else
															span 薪资#{item.salary} |
														if item.internWeek != '0'
															span  #{item.internWeek}天/周 |
														else
															span  实习天数面议 |
														if item.interMonth != '0'
															span  #{item.interMonth}个月 |
														else
															span  实习月份面议
														if item.canBeRegular == "是"
															span  可转正
														else if item.canBeRegular == '否'
															span  不可转正
														else
															span  转正面议
													a.btn.btn-primary(href="/weintern/job/detail/#{item._id}", role="button") 查看岗位详情
							.row
								.col-sm-2.col-sm-offset-10
									a(href="/")
										button.btn.btn-primary(type="button") 返回首页
							//if number > 8
							//nav(style="text-align: center")
							//	ul.pagination.pagination-lg(style="margin:10px 0")
							//		if pageSize - 1 <= 0
							//			li.previous.disabled
							//				a(href='javascript:;') «
							//		else
							//			li.previous
							//				a(href='/weintern/job/category/result?cat=#{categoryId}&pageSize=#{pageSize - 1}') «
							//		-for(var i = 0; i < page; i++){
							//		-if( pageSize == (i+1)){
							//		li.active
							//			span #{pageSize}
							//		-}else{
							//		li
							//			a(href='/weintern/job/category/result?cat=#{categoryId}&pageSize=#{i + 1}') #{i + 1}
							//		-}
							//		-}
							//		if pageSize + 1 > page
							//			li.next.disabled
							//				a(href='javascript:;') »
							//		else
							//			li.next
							//				a(href='/weintern/job/category/result?cat=#{categoryId}&pageSize=#{pageSize + 1}') »