extends ../layout
block content
	.container
		.row
			.col-md-12
				table.table.table-hover.table-bordered
					thead
						tr
							th 序号
							th 用户名
							th 邮箱
							th 手机号
							th 头像
							th 注册时间
							th(style="text-align:center;width:120px;") 操作
					tbody
						each item,index in users
							tr(class="item-id-#{item._id}")
								td(style="vertical-align: middle;") #{index+1}
								td(style="vertical-align: middle;") #{item.name}
								td(style="vertical-align: middle;") #{item.email}
								td(style="vertical-align: middle;") #{item.tel}
								td(style="vertical-align: middle;") #{item.img}
								td(style="vertical-align: middle;") #{moment(item.meta.createAt).format("MM/DD/YYYY")}
								td(style="vertical-align: middle;text-align:center")
									button.btn.btn-danger.del(type="button", disabled=localUser._id.toString() === item._id.toString() || localUser.role <= 30 || item.role >= 31, data-id="#{item._id}",data-toggle="modal") 删除
	#del-modal.modal.fade
		.modal-dialog
			.modal-container(style="background:#fff;border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);")
				.modal-header
					h4.modal-title 提示
				.modal-body
					h4(style="color:#c9302c") 确定删除该用户吗？删除后该用户下数据也被删除!
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") 取消
					button.btn.btn-success(type="button") 确定
	script.
		var userId = null;
		var tr = null;
		$(".del").click(function () {
			$("#del-modal").modal();
			userId = $(this).data("id");
			tr = $(this).parents("tr");
		})
		$(".btn-success").click(function () {
			if (userId) {
				$.ajax({
					type: 'DELETE',
					url: '/weintern/user/list/del' + "?id=" + userId
				}).done(function (res) {
					if (res.success == 1) {
						if (tr.length > 0) {
							tr.remove();
						}
					}
				})
			}
			$("#del-modal").modal('hide');
		})